<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Giuseppe Modarelli</title>

    <%- include css -%>
  </head>

  <body>
    <%- include navbar -%>

    <%- include jumbo -%>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% posts.forEach(function(post) { %>
            <%- include postlink %>
          <% }) %>
        </div>
      </div>
    </div>

    <%- include js -%>
  </body>
</html>

